# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

DoNotPublish/
Sources/WebApplication/web/third-party-javascript/
src/main/webapp/third-party-javascript/
/releases/
/target/
nbactions.xml
nb-configuration.xml

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
#.gitignore

