# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

DoNotPublish/

src/main/webapp/third-party-javascript/chosen/*
!src/main/webapp/third-party-javascript/chosen/.keep

src/main/webapp/third-party-javascript/ckeditor/*
!src/main/webapp/third-party-javascript/ckeditor/.keep

src/main/webapp/third-party-javascript/mktree/*
!src/main/webapp/third-party-javascript/mktree/.keep

src/main/webapp/third-party-javascript/wztooltip/*
!src/main/webapp/third-party-javascript/wztooltip/.keep

src/main/webapp/images/project-specific/*
!src/main/webapp/images/project-specific/.keep

/releases/
/target/
nbactions.xml
nb-configuration.xml

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
#.gitignore

/nbproject/