<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright 2015 Institute of Computer Science,
                Foundation for Research and Technology - Hellas.

 Licensed under the EUPL, Version 1.1 or - as soon they will be approved
 by the European Commission - subsequent versions of the EUPL (the "Licence");
 You may not use this work except in compliance with the Licence.
 You may obtain a copy of the Licence at:

      http://ec.europa.eu/idabc/eupl

 Unless required by applicable law or agreed to in writing, software distributed
 under the Licence is distributed on an "AS IS" basis,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the Licence for the specific language governing permissions and limitations
 under the Licence.
 
 =============================================================================
 Contact: 
 =============================================================================
 Address: N. Plastira 100 Vassilika Vouton, GR-700 13 Heraklion, Crete, Greece
     Tel: +30-2810-391632
     Fax: +30-2810-391638
  E-mail: isl@ics.forth.gr
 WebSite: http://www.ics.forth.gr/isl/cci.html
 
 =============================================================================
 Authors: 
 =============================================================================
 Elias Tzortzakakis <tzortzak@ics.forth.gr>
 
 This file is part of the THEMAS system.
-->
<TMS_DB_ADMIN_COFIGURATIONS>
    <!--<Neo4j_DB_FOLDER_PATH>/home/tzortzak/Projects/THEMAS_NEO4J_Database</Neo4j_DB_FOLDER_PATH>
    
    <Neo4j_DB_PATH>/Database</Neo4j_DB_PATH>
    <Neo4j_DB_Backups_SubPATH>/Backups/db_backups</Neo4j_DB_Backups_SubPATH>
    <Neo4j_XML_Backups_SubPATH>/Backups/xml_backups</Neo4j_XML_Backups_SubPATH>
    <Neo4j_ExportFileDirectory>/TSVs/</Neo4j_ExportFileDirectory>
    <Neo4j_GenericTSVFile>/TSVs/System/Generic.tsv</Neo4j_GenericTSVFile>
    <Neo4j_SpecificTSVFile>/TSVs/System/Specific_el.tsv</Neo4j_SpecificTSVFile>
      
    <PrimaryLanguage>Greek</PrimaryLanguage>
    <PrimaryLanguagePrefix>EL</PrimaryLanguagePrefix>	
    <UnclassifiedTermsHierarchyName>Ορφανοί όροι</UnclassifiedTermsHierarchyName>
    
    -->
    
    <Neo4j_DB_FOLDER_PATH>C:\Projects\THEMAS_DB_Folder</Neo4j_DB_FOLDER_PATH>
    
    <Neo4j_DB_PATH>\Database</Neo4j_DB_PATH>
    <Neo4j_DB_Backups_SubPATH>\Backups\db_backups</Neo4j_DB_Backups_SubPATH>
    <Neo4j_XML_Backups_SubPATH>\Backups\xml_backups</Neo4j_XML_Backups_SubPATH>
    <Neo4j_ExportFileDirectory>\TSVs\</Neo4j_ExportFileDirectory>
    <Neo4j_GenericTSVFile>\TSVs\System\Generic.tsv</Neo4j_GenericTSVFile>
    <Neo4j_SpecificTSVFile>\TSVs\System\Specific.tsv</Neo4j_SpecificTSVFile>	
     
<!--   
    <PrimaryLanguage>Greek</PrimaryLanguage>
    <PrimaryLanguagePrefix>EL</PrimaryLanguagePrefix>	
    <UnclassifiedTermsFacetName>ΟΡΦΑΝΟΙ ΟΡΟΙ</UnclassifiedTermsFacetName>
    <UnclassifiedTermsHierarchyName>Ορφανοί όροι</UnclassifiedTermsHierarchyName>    
-->
    
    <PrimaryLanguage>English</PrimaryLanguage><!-- no spaces-->
    <PrimaryLanguagePrefix>EN</PrimaryLanguagePrefix><!-- 2 letter code preferrably -->
    <UnclassifiedTermsFacetName>UNCLASSIFIED TERMS</UnclassifiedTermsFacetName>
    <UnclassifiedTermsHierarchyName>Unclassified terms</UnclassifiedTermsHierarchyName>
       
          <!-- Arabic config   
    <PrimaryLanguage>Arabic</PrimaryLanguage>
    <PrimaryLanguagePrefix>AR</PrimaryLanguagePrefix>
    <UnclassifiedTermsFacetName>غير مصنف</UnclassifiedTermsFacetName>
    <UnclassifiedTermsHierarchyName>شروط غير مصنفة</UnclassifiedTermsHierarchyName>
    -->
    

    <SupportedUILangCodes>
        <!-- mapcode should exist as lang code in the XML files contained in translations folder -->
        <!-- text of langcode refers to the acceptable language parameter that will be mapped to mapcode -->
        <!-- for greek both el and gr language parameters lead to el lang code that is used in the XML files of translations folder-->
        <!-- display attribute determines whether this will be shown to the available language options of user -->
        <langcode mapcode="en" display="yes" displayText="English - en">en</langcode>
        <langcode mapcode="el" display="no" displayText="Ελληνικά - gr">gr</langcode>
        <langcode mapcode="el" display="yes"  displayText="Ελληνικά - el">el</langcode>        
        <langcode mapcode="ar" display="yes"  displayText="Arabic - ar">ar</langcode>       
    </SupportedUILangCodes>
    
    <BehaviorConfigs>
        <XMLImport_Resolve_NodeLabels_DeclaredAsTerms>false</XMLImport_Resolve_NodeLabels_DeclaredAsTerms>
        <AtRenameStoreOldNameAsUf>true</AtRenameStoreOldNameAsUf>  
        <Transliterations toLowerCase="true">
            <!-- source https://el.wikipedia.org/wiki/%CE%A0%CE%BF%CE%BB%CF%85%CF%84%CE%BF%CE%BD%CE%B9%CE%BA%CE%AE_%CE%B3%CF%81%CE%B1%CF%86%CE%AE_%CF%84%CE%B7%CF%82_%CE%B5%CE%BB%CE%BB%CE%B7%CE%BD%CE%B9%CE%BA%CE%AE%CF%82_%CE%B3%CE%BB%CF%8E%CF%83%CF%83%CE%B1%CF%82 -->
            <!-- Tested with the folowing string
            äàáâãåæœç¢ëèéêìíîïñöôòóøõýÿüùûúάἀἁἂἃἄἅἆἇὰάᾀᾁᾂᾃᾄᾅᾆᾇᾰᾱᾲᾳᾴᾶᾷέἐἑἒἓἔἕὲέήἠἡἢἣἤἥἦἧὴήᾐᾑᾒᾓᾔᾕᾖᾗῂῃῄῆῇϊΐίἰἱἲἳἴἵἶἷὶίῐῑῒΐῖῗόὀὁὂὃὄὅὸόϋΰύὐὑὒὓὔὕὖὗὺύῠῡῢΰῦῧῤῥώὠὡὢὣὤὥὦὧὼώᾠᾡᾢᾣᾤᾥᾦᾧῲῳῴῶῷß
            -->

            <ReplacementGroup>
                <Source delimeterChar=";">æ</Source>
                <Replacement>ae</Replacement>
            </ReplacementGroup> 
            <ReplacementGroup>
                <Source delimeterChar=";">œ</Source>
                <Replacement>ce</Replacement>
            </ReplacementGroup> 
            <ReplacementGroup>
                <Source delimeterChar=";">¢</Source>
                <Replacement>c</Replacement>
            </ReplacementGroup>
            <ReplacementGroup>
                <Source delimeterChar=";">ø</Source>
                <Replacement>o</Replacement>
            </ReplacementGroup>   
            <ReplacementGroup>
                <Source delimeterChar=";">ß</Source>
                <Replacement>ss</Replacement>
            </ReplacementGroup>
            <ReplacementGroup>
                <Source delimeterChar=";">·,</Source>
                <Replacement> </Replacement>
            </ReplacementGroup>
            <!-- THIS SHOULD ALSO BE PROVIDED AS A FIX DB OPERATION 
            <ReplacementGroup>
                <Source delimeterChar=";">ç;¢</Source>
                <Replacement>c</Replacement>
            </ReplacementGroup>
            <ReplacementGroup>
                <Source delimeterChar=";">ä;à;á;â;ã;å</Source>
                <Replacement>a</Replacement>
            </ReplacementGroup>
            
            <ReplacementGroup>
                <Source delimeterChar=";">ë;è;é;ê</Source>
                <Replacement>e</Replacement>
            </ReplacementGroup>
            
            <ReplacementGroup>
                <Source delimeterChar=";">ì;í;î;ï</Source>
                <Replacement>i</Replacement>
            </ReplacementGroup>
            <ReplacementGroup>
                <Source delimeterChar=";">ñ</Source>
                <Replacement>n</Replacement>
            </ReplacementGroup>            
            <ReplacementGroup>
                <Source delimeterChar=";">ö;ô;ò;ó;ø;õ</Source>
                <Replacement>o</Replacement>
            </ReplacementGroup>
            <ReplacementGroup>
                <Source delimeterChar=";">ý;ÿ</Source>
                <Replacement>y</Replacement>
            </ReplacementGroup>
            <ReplacementGroup>
                <Source delimeterChar=";">ü;ù;û;ú</Source>
                <Replacement>u</Replacement>
            </ReplacementGroup>            
            <ReplacementGroup>
                <Source delimeterChar=";">ß</Source>
                <Replacement>ss</Replacement>
            </ReplacementGroup>
            <ReplacementGroup>
                <Source delimeterChar=";">ά;ἀ;ἁ;ἂ;ἃ;ἄ;ἅ;ἆ;ἇ;ὰ;ά;ᾀ;ᾁ;ᾂ;ᾃ;ᾄ;ᾅ;ᾆ;ᾇ;ᾰ;ᾱ;ᾲ;ᾳ;ᾴ;ᾶ;ᾷ</Source>
                <Replacement>α</Replacement>
            </ReplacementGroup>
            <ReplacementGroup>
                <Source delimeterChar=";">έ;ἐ;ἑ;ἒ;ἓ;ἔ;ἕ;ὲ;έ;</Source>
                <Replacement>ε</Replacement>
            </ReplacementGroup>
            <ReplacementGroup>
                <Source delimeterChar=";">ή;ἠ;ἡ;ἢ;ἣ;ἤ;ἥ;ἦ;ἧ;ὴ;ή;ᾐ;ᾑ;ᾒ;ᾓ;ᾔ;ᾕ;ᾖ;ᾗ;ῂ;ῃ;ῄ;;ῆ;ῇ</Source>
                <Replacement>η</Replacement>
            </ReplacementGroup>
            <ReplacementGroup>
                <Source delimeterChar=";">ϊ;ΐ;ί;ἰ;ἱ;ἲ;ἳ;ἴ;ἵ;ἶ;ἷ;ὶ;ί;ῐ;ῑ;ῒ;ΐ;ῖ;ῗ</Source>
                <Replacement>ι</Replacement>
            </ReplacementGroup>            
            <ReplacementGroup>
                <Source delimeterChar=";">ό;ὀ;ὁ;ὂ;ὃ;ὄ;ὅ;ὸ;ό</Source>
                <Replacement>ο</Replacement>
            </ReplacementGroup>
            <ReplacementGroup>
                <Source delimeterChar=";">ϋ;ΰ;ύ;ὐ;ὑ;ὒ;ὓ;ὔ;ὕ;ὖ;ὗ;ὺ;ύ;ῠ;ῡ;ῢ;ΰ;ῦ;ῧ</Source>
                <Replacement>υ</Replacement>
            </ReplacementGroup>
            <ReplacementGroup>
                <Source delimeterChar=";">ῤ;ῥ</Source>
                <Replacement>ρ</Replacement>
            </ReplacementGroup>
            <ReplacementGroup>
                <Source delimeterChar=";">ώ;ὠ;ὡ;ὢ;ὣ;ὤ;ὥ;ὦ;ὧ;ὼ;ώ;ᾠ;ᾡ;ᾢ;ᾣ;ᾤ;ᾥ;ᾦ;ᾧ;ῲ;ῳ;ῴ;ῶ;ῷ</Source>
                <Replacement>ω</Replacement>
            </ReplacementGroup>-->
            <!--<ReplacementGroup>
                <Source delimeterChar=";">ς</Source>
                <Replacement>σ</Replacement>
            </ReplacementGroup>--> 
                    
        </Transliterations>
    </BehaviorConfigs>
    
    <CreatorInAlphabeticalTerm>
        <DisplayCreator>false</DisplayCreator>  
    </CreatorInAlphabeticalTerm>
    
    <UserRolesConfigs>
        <ThesaurusTeam>
            <EditOnlyCreatedByTerms>false</EditOnlyCreatedByTerms>
        </ThesaurusTeam>
        <!-- Only the following servlets will be allowed to Reader or External Reader via java filtering -->
        <ReaderPermittedServlets>
            <!--<ClassName>Admin_Thesaurus.Admin_Thesaurus</ClassName>
            <ClassName>Admin_Thesaurus.CopyThesaurus</ClassName>
            <ClassName>Admin_Thesaurus.CreateThesaurus</ClassName>
            <ClassName>Admin_Thesaurus.DeleteThesaurus</ClassName>
            <ClassName>Admin_Thesaurus.EditGuideTerms</ClassName>
            <ClassName>Admin_Thesaurus.ExportData</ClassName>
            <ClassName>Admin_Thesaurus.FixCurrentData</ClassName>
            <ClassName>Admin_Thesaurus.ImportData</ClassName>
            <ClassName>Admin_Thesaurus.MergeThesauri</ClassName>
            <ClassName>DB_Admin.CreateDBbackup</ClassName>
            <ClassName>DB_Admin.DBadmin</ClassName>
            <ClassName>DB_Admin.FixDB</ClassName>
            <ClassName>DB_Admin.RestoreDBbackup</ClassName>
            <ClassName>LoginAdmin.FixAdminData</ClassName>
            <ClassName>LoginAdmin.HiddenActions</ClassName>
            <ClassName>LoginAdmin.Lock_UnlockSystem</ClassName>-->
            <ClassName>LoginAdmin.LoginAdmin</ClassName>
            <!--<ClassName>LoginAdmin.Start_StopNeo4j</ClassName>
            <ClassName>LoginAdmin.StartExportImportToXML</ClassName>
            <ClassName>LoginAdmin.SystemConfigurations</ClassName>
            <ClassName>LoginAdmin.Translations</ClassName>-->
            <ClassName>Servlets.AjaxDBQuery</ClassName>
            <ClassName>Servlets.CardOf_Facet</ClassName>
            <ClassName>Servlets.CardOf_Hierarchy</ClassName>
            <ClassName>Servlets.CardOf_Source</ClassName>
            <ClassName>Servlets.CardOf_Term</ClassName>
            <ClassName>Servlets.DownloadFile</ClassName>
            <!--<ClassName>Servlets.EditActions_Facet</ClassName>
            <ClassName>Servlets.EditActions_Hierarchy</ClassName>
            <ClassName>Servlets.EditActions_Source</ClassName>
            <ClassName>Servlets.EditActions_Term</ClassName>
            <ClassName>Servlets.EditDisplays_Facet</ClassName>
            <ClassName>Servlets.EditDisplays_Hierarchy</ClassName>
            <ClassName>Servlets.EditDisplays_Source</ClassName>
            <ClassName>Servlets.EditDisplays_Term</ClassName>
            <ClassName>Servlets.EditDisplays_User</ClassName>-->
            <ClassName>Servlets.GraphicalView</ClassName>
            <ClassName>Servlets.hierarchysTermsShortcuts</ClassName>
            <ClassName>Servlets.Index</ClassName>
            <ClassName>Servlets.Links</ClassName>
            <!--<ClassName>Servlets.MoveToHierarchy</ClassName>
            <ClassName>Servlets.MoveToHierarchyResults</ClassName>-->
            <ClassName>Servlets.nicajax</ClassName>
            <!--<ClassName>Servlets.Preview_Available_Facets</ClassName>
            <ClassName>Servlets.Rename_Facet</ClassName>
            <ClassName>Servlets.Rename_Hierarchy</ClassName>
            <ClassName>Servlets.Rename_Term</ClassName>
            <ClassName>Servlets.RenameInfo_Term</ClassName>-->
            <ClassName>Servlets.SearchResults_Facets</ClassName>
            <ClassName>Servlets.SearchResults_Hierarchies</ClassName>
            <ClassName>Servlets.SearchResults_Sources</ClassName>
            <ClassName>Servlets.SearchResults_Terms</ClassName>
            <ClassName>Servlets.SearchResults_Terms_Alphabetical</ClassName>
            <ClassName>Servlets.SearchResults_Terms_Hierarchical</ClassName>
            <ClassName>Servlets.SearchResults_Terms_Systematic</ClassName>
            <!--<ClassName>Servlets.SearchResults_Users</ClassName>-->
            <ClassName>Servlets.Statistics</ClassName>
            <ClassName>Servlets.SystemIsUnderMaintenance</ClassName>
            <ClassName>Servlets.Thesaurus_ReferenceId_Info</ClassName>
            <!--<ClassName>Servlets.UndoRenameResults</ClassName>-->
            <ClassName>Servlets.WaitForDownload</ClassName>
        </ReaderPermittedServlets>        
    </UserRolesConfigs>
    
</TMS_DB_ADMIN_COFIGURATIONS>
