#In tomcat context.xml enable <Valve className="org.apache.catalina.valves.rewrite.RewriteValve" />
#RewriteCond %{HTTP_HOST}  ^{IP}$ [NC]
#RewriteRule ^/(.*) {DOMAIN_NAME}%{CONTEXT_PATH}/$1 [R=301,L]

RewriteRule /(.*)/Facet/([^/]*)/?$ /CardOf_Facet?referenceId=$2&external_user=ExternalReader&external_thesaurus=$1&mode=XMLSTREAM

RewriteRule /(.*)/Concept/([^/]*)/?$ /CardOf_Term?referenceId=$2&external_user=ExternalReader&external_thesaurus=$1&mode=XMLSTREAM