<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright 2015 Institute of Computer Science,
                Foundation for Research and Technology - Hellas.

 Licensed under the EUPL, Version 1.1 or - as soon they will be approved
 by the European Commission - subsequent versions of the EUPL (the "Licence");
 You may not use this work except in compliance with the Licence.
 You may obtain a copy of the Licence at:

      http://ec.europa.eu/idabc/eupl

 Unless required by applicable law or agreed to in writing, software distributed
 under the Licence is distributed on an "AS IS" basis,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the Licence for the specific language governing permissions and limitations
 under the Licence.
 
 =============================================================================
 Contact: 
 =============================================================================
 Address: N. Plastira 100 Vassilika Vouton, GR-700 13 Heraklion, Crete, Greece
     Tel: +30-2810-391632
     Fax: +30-2810-391638
  E-mail: isl@ics.forth.gr
 WebSite: http://www.ics.forth.gr/isl/cci.html
 
 =============================================================================
 Authors: 
 =============================================================================
 Elias Tzortzakakis <tzortzak@ics.forth.gr>
 
 This file is part of the THEMAS system.
 -->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>THEMAS</display-name>
    <description>This is a simple web application with a source code organization based on the recommendations of the Application Developer's Guide.</description>
    <!-- My variables -->
    <context-param>
        <param-name>appname</param-name>
        <param-value>THEMAS</param-value>
    </context-param>
    <context-param>
        <param-name>UILanguage</param-name>
        <param-value>el</param-value>
        <!--<param-value>el</param-value>-->
    </context-param>
    <!-- adding filter mechanism that will clean urls of skos export e.g. 
    skos uri:
    http://139.91.183.91:8084/THEMAS/BBT/Facet/6
    will be translated to :
    http://139.91.183.91:8084/THEMAS/CardOf_Facet?referenceId=6&external_user=ExternalReader&external_thesaurus=BBT&mode=XMLSTREAM
    
    These rules are defined in the /WEB-INF/urlrewrite.xml 
    where external_user parameter should be set to the name of a user that has been assigned the 
    EXTERNALREADER role for the specified thesaurus  
    -->
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <!-- ||||||||||||||||||||||||||||||||||||||||| -->
    <context-param>
        <param-name>ListStep</param-name>
        <param-value>50</param-value>
    </context-param>
    <!-- ||||||||||||||||||||||||||||||||||||||||| -->
    <context-param>
        <param-name>SVG_temporary_filesPath</param-name>
        <param-value>SVGproducer/SVG_temporary_files</param-value>
    </context-param>
    <context-param>
        <param-name>SVG_navbar_enabled</param-name>
        <param-value>true</param-value>
    </context-param>
    <!--<context-param>
        <param-name>SVG_CategoriesFrom_for_traverse</param-name>
        <param-value>%THES%Descriptor:::%THES%HierarchyTerm:::%THES%HierarchyTerm:::%THES%HierarchyTerm:::%THES%Term:::%THES%HierarchyTerm:::%THES%HierarchyTerm</param-value>
    </context-param>
    <context-param>
        <param-name>SVG_CategoriesNames_for_traverse</param-name>
        <param-value>%THES%_BT:::%THES%_UF:::%THES%_uf_translation:::%thes%_taxonomic_code:::%THES%_translation:::%THES%_RT:::%thes%_created_by</param-value>
    </context-param>
    <context-param>
        <param-name>SVG_CategoriesDirections_for_traverse</param-name>
        <param-value>back:::forw:::forw:::forw:::forw:::forw:::forw</param-value>
    </context-param>
    <context-param>
        <param-name>SVG_CategoriesLanguages_for_traverse</param-name>
        <param-value>GR:::GR:::GR:::GR:::GR:::GR:::GR</param-value>
    </context-param>
    <context-param>
        <description>styles defined in: web\SVGproducer\SVG.css
This list must be parallel to SVG_CategoriesNames_for_traverse</description>
        <param-name>SVG_CategoriesStyles_for_traverse</param-name>
        <param-value>styleBT:::styleUF:::styleUFTranslations:::styleDewey:::styleTR:::styleRT:::styleCREATOR</param-value>
    </context-param>-->
    <context-param>
        <param-name>SVG_CategoriesFrom_for_traverse</param-name>
        <param-value>%THES%Descriptor:::%THES%HierarchyTerm:::%THES%HierarchyTerm:::%THES%HierarchyTerm:::%THES%Term:::%THES%HierarchyTerm</param-value>
    </context-param>
    <context-param>
        <param-name>SVG_CategoriesNames_for_traverse</param-name>
        <param-value>%THES%_BT:::%THES%_UF:::%THES%_uf_translation:::%thes%_taxonomic_code:::%THES%_translation:::%THES%_RT</param-value>
    </context-param>
    <context-param>
        <param-name>SVG_CategoriesDirections_for_traverse</param-name>
        <param-value>back:::forw:::forw:::forw:::forw:::forw</param-value>
    </context-param>
    <context-param>
        <param-name>SVG_CategoriesLanguages_for_traverse</param-name>
        <param-value>GR:::GR:::GR:::GR:::GR:::GR</param-value>
    </context-param>
    <context-param>
        <description>styles defined in: web\SVGproducer\SVG.css
This list must be parallel to SVG_CategoriesNames_for_traverse</description>
        <param-name>SVG_CategoriesStyles_for_traverse</param-name>
        <param-value>styleBT:::styleUF:::styleUFTranslations:::styleDewey:::styleTR:::styleRT</param-value>
    </context-param>
    <context-param>
        <param-name>SVG_Hierarchy_name_lang</param-name>
        <param-value>GR</param-value>
    </context-param>
    <context-param>
        <param-name>SVG_Hierarchy_name_style</param-name>
        <param-value>styleGR</param-value>
    </context-param>
    <context-param>
        <description>used ONLY by ProduceISAHierarchy - supernodes =&gt; get_all_superclasses - subnodes =&gt; get_all_subclasses</description>
        <param-name>SVG_ISA_scope</param-name>
        <param-value>subnodes</param-value>
    </context-param>
    <context-param>
        <description>categories names to be displayed in SVG legend.
This list must be parallel to SVG_CategoriesStyles_for_traverse</description>
        <param-name>SVG_CategoriesNames_for_legend</param-name>
        <param-value>NT:::UF:::uf_translation:::dewey:::translation:::RT</param-value>
    </context-param>
    <!-- ||||||||||||||||||||||||||||||||||||||||| -->
    <context-param>
        <param-name>LocaleLanguage</param-name>
        <param-value>el</param-value>
    </context-param>
    <context-param>
        <param-name>LocaleCountry</param-name>
        <param-value>GR</param-value>
    </context-param>
    <context-param>
        <param-name>CLASS_SET</param-name>
        <param-value>TERM:::HIERARCHY:::FACET</param-value>
    </context-param>
    <context-param>
        <param-name>CLASS_SET_INCLUDE</param-name>
        <param-value>%THES%Descriptor###%THES%ObsoleteDescriptor###%THES%TopTerm:::%THES%Hierarchy###%THES%ObsoleteHierarchy:::%THES%Facet###%THES%ObsoleteFacet</param-value>
    </context-param>
    <context-param>
        <param-name>Save_Results_Folder</param-name>
        <param-value>Save_Results_Displays</param-value>
    </context-param>
    <context-param>
        <param-name>Save_Results_Temp_Folder</param-name>
        <param-value>Save_Results_temporary_files</param-value>
    </context-param>
    <context-param>
        <param-name>alphabetical_ignored_nodes</param-name>
        <param-value/>
    </context-param>
    <context-param>
        <param-name>DELIMITER1</param-name>
        <param-value>:::</param-value>
    </context-param>
    <context-param>
        <param-name>PrefixSuffix</param-name>
        <param-value>`</param-value>
    </context-param>
    <context-param>
        <param-name>TRANSLATION_SEPERATOR</param-name>
        <param-value>:</param-value>
    </context-param>
    <context-param>
        <param-name>FormatXML</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>DELIMITER2</param-name>
        <param-value>###</param-value>
    </context-param>
    <context-param>
        <param-name>alphabetical_mode</param-name>
        <param-value>NODEFROM:::NODEFROM:::CLASS:::LABELTO:::LABELTO</param-value>
    </context-param>
    <context-param>
        <param-name>alphabetical_From_Class</param-name>
        <param-value>%THES%HierarchyTerm:::%THES%HierarchyTerm:::FACET:::%THES%ThesaurusConcept:::%THES%ThesaurusConcept</param-value>
    </context-param>
    <context-param>
        <param-name>alphabetical_Links</param-name>
        <param-value>%THES%_ALT:::%THES%_UF:::FACET:::%thes%_scope_note:::%thes%_translations_scope_note</param-value>
    </context-param>
    <context-param>
        <param-name>alphabetical_mode_PAGING_COUNT_NODES</param-name>
        <param-value>1:::1:::0:::0:::0</param-value>
    </context-param>
    <context-param>
        <param-name>TermModificationChecks</param-name>
        <param-value>1:::7:::9:::11:::12:::15:::16:::18:::20:::24:::25:::26:::27</param-value>
    </context-param>
    <!--<context-param>
        replaced by transliterations search which is performed by default
        this value refers to the ToneAndCaseIUnsenitivity of the Neo4j-sisapi
        and may only be activated in case SEARCH_MODE_CASE_INSENSITIVE is set to true 
        <param-name>SEARCH_MODE_TONE_INSENSITIVE</param-name>
        <param-value>false</param-value>        
    </context-param>-->
    <context-param>
        <param-name>SEARCH_MODE_CASE_INSENSITIVE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>Automatic_Backups_Hours_Interval</param-name>
        <param-value>24</param-value>
    </context-param>
    <context-param>
        <param-name>Automatic_Backups_Description</param-name>
        <param-value>Ημερήσιο αντίγραφο ασφαλείας</param-value>
    </context-param>
    <context-param>
        <param-name>Automatic_Backups_Next_Day_Start_Time</param-name>
        <param-value>3:::0:::0</param-value>
        <!--<param-value>3:::0:::0:::AM</param-value>-->
        <!-- format: HH:::MM:::SS:::AM OR PM    where ::: is DELIMETER1-->
    </context-param>
    <!-- ABANDONED
    <context-param>
        <param-name>mailList</param-name>
        <param-value>georgis@ics.forth.gr:::tzortzak@ics.forth.gr</param-value>        
    </context-param>
    <context-param>
        <param-name>mailHost</param-name>
        <param-value>mailhost.ics.forth.gr</param-value>
    </context-param>
    -->
    <context-param>
        <param-name>TaxonomicalCodeFormat</param-name>
        <param-value>.*</param-value>
        <!--<param-value>[0-9]{1,3}(\.[0-9]+)*</param-value>-->
    </context-param>
    <context-param>
        <param-name>SkipAutomaticBackups</param-name>
        <param-value>true</param-value>
        <!--<param-value>true</param-value>-->
    </context-param>
    <context-param>
        <param-name>DebugMode</param-name>
        <param-value>false</param-value>
        <!--<param-value>true</param-value>-->
    </context-param>
    <listener>
        <listener-class>Utils.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SearchResults_Terms_Alphabetical</servlet-name>
        <servlet-class>Servlets.SearchResults_Terms_Alphabetical</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResults_Terms_Systematic</servlet-name>
        <servlet-class>Servlets.SearchResults_Terms_Systematic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResults_Terms_Hierarchical</servlet-name>
        <servlet-class>Servlets.SearchResults_Terms_Hierarchical</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FixCurrentData</servlet-name>
        <servlet-class>Admin_Thesaurus.FixCurrentData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hierarchysTermsShortcuts</servlet-name>
        <servlet-class>Servlets.hierarchysTermsShortcuts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>Servlets.DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardOf_Term</servlet-name>
        <servlet-class>Servlets.CardOf_Term</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDisplays_Term</servlet-name>
        <servlet-class>Servlets.EditDisplays_Term</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditActions_Term</servlet-name>
        <servlet-class>Servlets.EditActions_Term</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MergeThesauri</servlet-name>
        <servlet-class>Admin_Thesaurus.MergeThesauri</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CopyThesaurus</servlet-name>
        <servlet-class>Admin_Thesaurus.CopyThesaurus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDisplays_Hierarchy</servlet-name>
        <servlet-class>Servlets.EditDisplays_Hierarchy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDisplays_User</servlet-name>
        <servlet-class>Servlets.EditDisplays_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDisplays_Facet</servlet-name>
        <servlet-class>Servlets.EditDisplays_Facet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditActions_Hierarchy</servlet-name>
        <servlet-class>Servlets.EditActions_Hierarchy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditActions_Facet</servlet-name>
        <servlet-class>Servlets.EditActions_Facet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardOf_Hierarchy</servlet-name>
        <servlet-class>Servlets.CardOf_Hierarchy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardOf_Facet</servlet-name>
        <servlet-class>Servlets.CardOf_Facet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Thesaurus</servlet-name>
        <servlet-class>Admin_Thesaurus.Admin_Thesaurus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportData</servlet-name>
        <servlet-class>Admin_Thesaurus.ExportData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportData</servlet-name>
        <servlet-class>Admin_Thesaurus.ImportData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDisplays_Source</servlet-name>
        <servlet-class>Servlets.EditDisplays_Source</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditActions_Source</servlet-name>
        <servlet-class>Servlets.EditActions_Source</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardOf_Source</servlet-name>
        <servlet-class>Servlets.CardOf_Source</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResults_Sources</servlet-name>
        <servlet-class>Servlets.SearchResults_Sources</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FixAdminData</servlet-name>
        <servlet-class>LoginAdmin.FixAdminData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemConfigurations</servlet-name>
        <servlet-class>LoginAdmin.SystemConfigurations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGuideTerms</servlet-name>
        <servlet-class>Admin_Thesaurus.EditGuideTerms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WaitForDownload</servlet-name>
        <servlet-class>Servlets.WaitForDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Translations</servlet-name>
        <servlet-class>LoginAdmin.Translations</servlet-class>
    </servlet>
    <!--<servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Servlets.NewServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>Thesaurus_ReferenceId_Info</servlet-name>
        <servlet-class>Servlets.Thesaurus_ReferenceId_Info</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FixCurrentData</servlet-name>
        <url-pattern>/FixCurrentData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResults_Terms_Alphabetical</servlet-name>
        <url-pattern>/SearchResults_Terms_Alphabetical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResults_Terms_Systematic</servlet-name>
        <url-pattern>/SearchResults_Terms_Systematic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResults_Terms_Hierarchical</servlet-name>
        <url-pattern>/SearchResults_Terms_Hierarchical</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Start_StopNeo4j</servlet-name>
        <servlet-class>LoginAdmin.Start_StopNeo4j</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Start_StopNeo4j</servlet-name>
        <url-pattern>/Start_StopNeo4j</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Lock_UnlockSystem</servlet-name>
        <servlet-class>LoginAdmin.Lock_UnlockSystem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lock_UnlockSystem</servlet-name>
        <url-pattern>/Lock_UnlockSystem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StartExportImportToXML</servlet-name>
        <servlet-class>LoginAdmin.StartExportImportToXML</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartExportImportToXML</servlet-name>
        <url-pattern>/StartExportImportToXML</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HiddenActions</servlet-name>
        <servlet-class>LoginAdmin.HiddenActions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HiddenActions</servlet-name>
        <url-pattern>/HiddenActions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GraphicalView</servlet-name>
        <servlet-class>Servlets.GraphicalView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GraphicalView</servlet-name>
        <url-pattern>/GraphicalView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Statistics</servlet-name>
        <servlet-class>Servlets.Statistics</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Statistics</servlet-name>
        <url-pattern>/Statistics</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DBadmin</servlet-name>
        <servlet-class>DB_Admin.DBadmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBadmin</servlet-name>
        <url-pattern>/DBadmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateDBbackup</servlet-name>
        <servlet-class>DB_Admin.CreateDBbackup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateDBbackup</servlet-name>
        <url-pattern>/CreateDBbackup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RestoreDBbackup</servlet-name>
        <servlet-class>DB_Admin.RestoreDBbackup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestoreDBbackup</servlet-name>
        <url-pattern>/RestoreDBbackup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FixDB</servlet-name>
        <servlet-class>DB_Admin.FixDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FixDB</servlet-name>
        <url-pattern>/FixDB</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateThesaurus</servlet-name>
        <servlet-class>Admin_Thesaurus.CreateThesaurus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateThesaurus</servlet-name>
        <url-pattern>/CreateThesaurus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SystemIsUnderMaintenance</servlet-name>
        <servlet-class>Servlets.SystemIsUnderMaintenance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemIsUnderMaintenance</servlet-name>
        <url-pattern>/SystemIsUnderMaintenance</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteThesaurus</servlet-name>
        <servlet-class>Admin_Thesaurus.DeleteThesaurus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteThesaurus</servlet-name>
        <url-pattern>/DeleteThesaurus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>LoginAdmin.LoginAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rename_Facet</servlet-name>
        <servlet-class>Servlets.Rename_Facet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Preview_Available_Facets</servlet-name>
        <servlet-class>Servlets.Preview_Available_Facets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rename_Hierarchy</servlet-name>
        <servlet-class>Servlets.Rename_Hierarchy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResults_Facets</servlet-name>
        <servlet-class>Servlets.SearchResults_Facets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResults_Hierarchies</servlet-name>
        <servlet-class>Servlets.SearchResults_Hierarchies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjaxDBQuery</servlet-name>
        <servlet-class>Servlets.AjaxDBQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxDBQuery</servlet-name>
        <url-pattern>/AjaxDBQuery</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Links</servlet-name>
        <servlet-class>Servlets.Links</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Links</servlet-name>
        <url-pattern>/Links</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchResults_Terms</servlet-name>
        <servlet-class>Servlets.SearchResults_Terms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchResults_Terms</servlet-name>
        <url-pattern>/SearchResults_Terms</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchResults_Users</servlet-name>
        <servlet-class>Servlets.SearchResults_Users</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchResults_Users</servlet-name>
        <url-pattern>/SearchResults_Users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MoveToHierarchy</servlet-name>
        <servlet-class>Servlets.MoveToHierarchy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MoveToHierarchy</servlet-name>
        <url-pattern>/MoveToHierarchy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MoveToHierarchyResults</servlet-name>
        <servlet-class>Servlets.MoveToHierarchyResults</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MoveToHierarchyResults</servlet-name>
        <url-pattern>/MoveToHierarchyResults</url-pattern>
    </servlet-mapping>
    <!--<servlet>
        <servlet-name>DisplayGraph</servlet-name>
        <servlet-class>DisplayGraph</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayGraph</servlet-name>
        <url-pattern>/DisplayGraph</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExportFacets</servlet-name>
        <servlet-class>ExportFacets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportFacets</servlet-name>
        <url-pattern>/ExportFacets</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SIS-TMS2SVG</servlet-name>
        <servlet-class>ProduceSVGGraphServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SIS-TMS2SVG</servlet-name>
        <url-pattern>/SIS-TMS2SVG</url-pattern>
    </servlet-mapping>    
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    -->
    <servlet>
        <servlet-name>nicajax</servlet-name>
        <servlet-class>Servlets.nicajax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>nicajax</servlet-name>
        <url-pattern>/nicajax</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RenameInfo_Term</servlet-name>
        <servlet-class>Servlets.RenameInfo_Term</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RenameInfo_Term</servlet-name>
        <url-pattern>/RenameInfo_Term</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Rename_Term</servlet-name>
        <servlet-class>Servlets.Rename_Term</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UndoRenameResults</servlet-name>
        <servlet-class>Servlets.UndoRenameResults</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Rename_Term</servlet-name>
        <url-pattern>/Rename_Term</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rename_Facet</servlet-name>
        <url-pattern>/Rename_Facet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Preview_Available_Facets</servlet-name>
        <url-pattern>/Preview_Available_Facets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rename_Hierarchy</servlet-name>
        <url-pattern>/Rename_Hierarchy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UndoRenameResults</servlet-name>
        <url-pattern>/UndoRenameResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResults_Facets</servlet-name>
        <url-pattern>/SearchResults_Facets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResults_Hierarchies</servlet-name>
        <url-pattern>/SearchResults_Hierarchies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hierarchysTermsShortcuts</servlet-name>
        <url-pattern>/hierarchysTermsShortcuts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/DownloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardOf_Term</servlet-name>
        <url-pattern>/CardOf_Term</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDisplays_Term</servlet-name>
        <url-pattern>/EditDisplays_Term</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditActions_Term</servlet-name>
        <url-pattern>/EditActions_Term</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MergeThesauri</servlet-name>
        <url-pattern>/MergeThesauri</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CopyThesaurus</servlet-name>
        <url-pattern>/CopyThesaurus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDisplays_Hierarchy</servlet-name>
        <url-pattern>/EditDisplays_Hierarchy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDisplays_User</servlet-name>
        <url-pattern>/EditDisplays_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDisplays_Facet</servlet-name>
        <url-pattern>/EditDisplays_Facet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditActions_Hierarchy</servlet-name>
        <url-pattern>/EditActions_Hierarchy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditActions_Facet</servlet-name>
        <url-pattern>/EditActions_Facet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardOf_Hierarchy</servlet-name>
        <url-pattern>/CardOf_Hierarchy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardOf_Facet</servlet-name>
        <url-pattern>/CardOf_Facet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Thesaurus</servlet-name>
        <url-pattern>/Admin_Thesaurus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportData</servlet-name>
        <url-pattern>/ExportData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportData</servlet-name>
        <url-pattern>/ImportData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDisplays_Source</servlet-name>
        <url-pattern>/EditDisplays_Source</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditActions_Source</servlet-name>
        <url-pattern>/EditActions_Source</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardOf_Source</servlet-name>
        <url-pattern>/CardOf_Source</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResults_Sources</servlet-name>
        <url-pattern>/SearchResults_Sources</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FixAdminData</servlet-name>
        <url-pattern>/FixAdminData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemConfigurations</servlet-name>
        <url-pattern>/SystemConfigurations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGuideTerms</servlet-name>
        <url-pattern>/EditGuideTerms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WaitForDownload</servlet-name>
        <url-pattern>/WaitForDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Translations</servlet-name>
        <url-pattern>/Translations</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>Thesaurus_ReferenceId_Info</servlet-name>
        <url-pattern>/Thesaurus_ReferenceId_Info</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>200</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index</welcome-file>
    </welcome-file-list>
    <!-- allow Cross Origin Calls for servlets rpoviding XMLSTREAM output -->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
